<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style-register.css">
    <title>Registrar</title>
</head>
<body>
    <div class="register">
        <h1>Registrar</h1>
        <form action="{{url_for('register.register_user')}}" method="POST">
            <div class="linha">
                <label for="">E-mail</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="linha">
                <label for="">Nome</label>
                <input type="text" id="nome" name="nome" required>
            </div>
            <div class="linha">
                <label for="">Key</label>
                <input type="Key" id="Key" name="key" required>
            </div>
            <div class="linha">
                <label for="">Senha</label>
                <input type="password" id="password" name="senha"required>
            </div>
            <div class="error">
                {% if error %}
                    {{error}}
                {% endif %}
            </div>
            <div class="buttons">
                <button type="submit">Registrar</button>
                <button type="button" onclick="window.location.href='{{ url_for('login.return_login')}}'">Voltar</button>
            </div>
        </form>
    </div>
</body>
</html>