body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #99d9ff, #52c0ff);
}


.login-form {
    margin-top: 100px ;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    height: 470px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.login-form h1 {
    color: #52c0ff;
    font-weight:bold;
}

.login-form label {
    color: #52c0ff;
    display: flex;
    margin-left: 45px;
    font-weight: bold;
    position: relative;
}

.login-form input {
    width: 280px;
    height: 30px;
    border-radius: 10px;
    border: #52c0ff;
    background-color: #d4efff;

}

.btn {
    margin-top: 70px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.btn button{
    width: 220px;
    height: 40px;
    border-radius: 10px;
    background-color:  #52c0ff;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 10px;

}

.btn button:hover{
    background-color: #52c0ff
}

.error-message {
    height: 30px;
    font-size: 12px;
    color: red;
}

