<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style-home.css">
    <link rel="stylesheet" href="../static/style-add.css">
    <title>Adicionar</title>
</head>
<body>
    <header class="header">
        <a href="{{ url_for('home.retornar_home')}}"><h2>Home</h2></a>
        <a href="{{ url_for('login.return_login')}}"><h2>Log-out</h2></a>
        <h1 style="font-size: 25px;">CadastreAqui</h1>
        <a href="{{ url_for('add.return_add')}}"><h2>Adicionar</h2></a>
        <a><h2>Editar</h2></a>
        <a><h2>Excluir</h2></a>
    </header>
    <div class="space-edit">
        <form action="">
            <div class="linha">
                <label for="Name">Nome do item</label>
                <input type="text" name="nome" maxlength="50" required>
            </div>
            <div class="linha">
                <label for="Name">Breve descrição</label>
                <textarea id="descricao" type="text" name="descricao" maxlength="210" required></textarea>
            </div>
            <div class="linha">
                <label for="Name">Tipo</label>
                <select name="tipo" id="tipo" required>
                    <option value="">selecione...</option>
                    <option value="Móveis">Móveis</option>
                    <option value="">Eletrodomésticos</option>
                    <option value="">Eletrônicos</option>
                    <option value="">Comida</option>
                    <option value="">Bebidas</option>
                    <option value="">Roupas</option>
                    <option value="">Acessórios</option>
                    <option value="">Outros</option>
                </select>
            </div>
            <div class="linha">
                <label for="Preco">Preço</label>
                <input style="text-align: right;" placeholder="R$ 0,00" type="number" name="preco" step="0.01" id="preco" min="0" required>
            </div>
            <div class="btn">
                <button type="submit">Registrar</button>

            </div>
        </form>
    </div>
</body>
</html>