<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style-home.css">
    <link rel="stylesheet" href="../static/style-add.css">
    <title>Excluir</title>
</head>
<body>
    <header class="header">
        <a href="{{ url_for('home.retornar_home')}}"><h2>Home</h2></a>
        <a href="{{ url_for('login.return_login')}}"><h2>Log-out</h2></a>
        <h1 style="font-size: 25px;">CadastreAqui</h1>
        <a href="{{ url_for('add.return_add')}}"><h2>Adicionar</h2></a>
        <a href="{{ url_for('edit.return_edit')}}"><h2>Editar</h2></a>
        <a><h2>Excluir</h2></a>
    </header>
    <div class="linha-edit-form">
        <div class="linha">
            <form action="{{ url_for('edit.return_product')}}" method="GET">
                <label for="Name">ID do produto para ser exluido</label>
                <input type="text" name="id" maxlength="50" required>
                {% if error %}
                    <p style="color: red;">Produto não encontrado</p>
                {% endif %}    
                <button style="color: white;" type="submit">Buscar</button>
            </form>
        </div>
    </div>
</body>
</html>    