<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style-home.css">
    <link rel="stylesheet" href="../static/style-add.css">
    <title>Adicionar</title>
</head>
<body>
    <header class="header">
        <a href="{{ url_for('home.retornar_home')}}"><h2>Home</h2></a>
        <a href="{{ url_for('login.return_login')}}"><h2>Log-out</h2></a>
        <h1 style="font-size: 25px;">CadastreAqui</h1>
        <a href="{{ url_for('add.return_add')}}"><h2>Adicionar</h2></a>
        <a href="{{ url_for('edit.return_edit')}}"><h2>Editar</h2></a>
        <a><h2>Excluir</h2></a>
    </header>
    <div class="linha-edit-form">
        <div class="linha">
            <form action="{{ url_for('edit.return_product')}}" method="GET">
                <label for="Name">ID do produto</label>
                <input type="text" name="id" maxlength="50" required>
                {% if error %}
                    <p style="color: red;">Produto não encontrado</p>
                {% endif %}    
                <button style="color: white;" type="submit">Buscar</button>
            </form>
        </div>
    </div>

    {% if product %}
        <div id="modal-overlay">
            <div class="space-edit" id="space-edit">
                <form action="{{ url_for('edit.edit_product')}}" method="POST">
                    <div class="linha">
                        <label for="Name">Nome do produto</label>
                        <input type="text" name="name" value="{{ product.nome }}" maxlength="50" required>
                    </div>
                    <div class="linha">
                        <label for="Url">URL Foto</label>
                        <input type="url" name="url" value="{{ product.img_url }}" required>
                    </div>
                    <div class="linha">
                        <label for="Name">Breve descrição</label>
                        <textarea id="descricao" type="text" name="description" maxlength="210" required>{{ product.descricao }}</textarea>
                    </div>
                    <div class="linha">
                        <label for="Name">Tipo</label>
                        <select name="type" id="tipo" required>
                            <option value="">selecione...</option>
                            {% for tipo in ['Móveis', 'Eletrodomésticos', 'Eletrônicos', 'Comida', 'Bebidas', 'Roupas', 'Acessórios', 'Outros'] %}
                                <option value="{{ tipo }}" {% if product.tipo == tipo %}selected{% endif %}>{{ tipo }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="linha">
                        <label for="Preco">Preço</label>
                        <input style="text-align: right;" placeholder="R$ 0,00" type="number" value="{{ product.preco }}" name="price" step="0.01" id="preco" min="0" required>
                    </div>
                    <div class="btn">
                        <button type="submit">Editar</button>
                        <button type="button" onclick="abrirEdit()">Fechar</button>
                    </div>
                </form>
        </div>
    </div>

    {% endif %}
    <script src="{{ url_for('static', filename='modal.js') }}"></script>
</body>
</html>