<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style-home.css">
</head>
<body>
    <header class="header">
        <a><h2>Home</h2></a>
        <a href="{{ url_for('home.logout')}}"><h2>Log-out</h2></a>
        <h1 style="font-size: 25px;">CadastreAqui</h1>
        <a href="{{ url_for('add.return_add')}}"><h2>Adicionar</h2></a>
        <a><h2>Editar</h2></a>
        <a><h2>Excluir</h2></a>
    </header>
    {% if users %}
        <div class="display-users">
            <div class="users">
                <label for="Name">Nome</label>
                <label for="Points">Points</label>
                <label for="Key">Key</label>
                <label for="Number">Number</label>
            </div>
            {% for user in users %}
                <div class="user">
                    <label for="Name">{{ user.name}}</label>
                    <label for="Points">{{ user.points}}</label>
                    <label for="Key">{{ user.key}}</label>
                    <label for="Number">{{ user.number}}</label>
                </div>
            {% endfor%}    
    {% else %}
        <h2 style="font-family: Arial, Helvetica, sans-serif;">Não há usuários</h2>
    {% endif %} 
    </div>
</body>
</html>