<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style-home.css">
</head>
<body>
    <header class="header">
        <a><h2>Home</h2></a>
        <a href="{{ url_for('home.logout')}}"><h2>Log-out</h2></a>
        <h1 style="font-size: 25px;">CadastreAqui</h1>
        <a href="{{ url_for('add.return_add')}}"><h2>Adicionar</h2></a>
        <a href="{{ url_for('edit.return_edit')}}"><h2>Editar</h2></a>
        <a><h2>Excluir</h2></a>
    </header>
    {% if itens %}
        <div class="products">
            <label for="produtos">Produtos</label>
        </div>
        <div class="display-products">
            {% for item in itens %}
            <div class="item">
                <label style="color:black; margin-top:10px; font-size:10px" for="name">ID:{{ item.id }}</label>
                <div class="image">
                    <img src="{{ item.img_url }}" alt="Clique para ver a foto" width="180">
                </div>
                <div class="infos">
                    <label style="font-weight: bold; color:black;" for="name">{{ item.nome }}</label>
                    <p style="color:black;" type="text">{{ item.descricao }}</p>
                    <label style="margin-bottom: 10px; color:rgb(0, 225, 255);" for="type">{{ item.tipo }}</label>
                    <label style="color:rgb(0, 116, 19); font-weight: bold; font-size:20px" for="Number">R$ {{ item.preco }}</label>
                </div>
            </div>
            {% endfor%}    
    {% else %}
        <h2 style="font-family: Arial, Helvetica, sans-serif;">Não há produtos</h2>
    {% endif %} 
    </div>
</body>
</html>