body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #f9d5ec, #a18cd1);
}


.login-form {
    margin-top: 100px ;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    height: 470px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.login-form h1 {
    color: #7d45ff;
    font-weight:bold;
}

.login-form label {
    color: #7d46ff;
    display: flex;
    margin-left: 45px;
    font-weight: bold;
}

.login-form input {
    width: 280px;
    height: 30px;
    border-radius: 10px;
    border: #7d46ff;
    background-color: #e9e1ff;

}

.btn {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;

}

.btn button{
    width: 220px;
    height: 40px;
    border-radius: 10px;
    background-color:  #7d46ff;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 10px;

}

.btn button:hover{
    background-color: #6d2eff


}
