body {
    margin:  0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}
.header {
    position: fixed;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    background: linear-gradient(to right, #f9d5ec, #a18cd1);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    gap: 30px;
    cursor: pointer;
    top: 0;
    z-index: 998;
}


.header a{
    text-decoration: none;
    color: #ffffff;
    transition: transform 0.3s ease;
}

.header a:hover{
    transform: scale(1.2);
}

.display-products {
    background: linear-gradient(to right, #f9d5ec, #a18cd1);
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    width: 50%;
}

.products {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 25px;
    font-size: 30px;
    font-weight: bold;
    color: #a18cd1;
}


.item {
    display:flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items:center;
    flex-direction: column;
    background: white;
    height: auto;
    border-radius: 10px;
    margin: 35px;
    justify-content:flex-start;
    width: 260px;
    color: #a18cd1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
    cursor: pointer;
    max-width: 260px;
}

.item:hover{
    transform: scale(1.06);
}

.image {
    margin-top: 5px;
    border-radius: 10px;
    align-items: center;
    border: 4px solid #a18cd1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
}

.image img {
    margin: 10px;

}

.infos {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    width: 200px;
    text-wrap: wrap;
    margin-bottom: 10px;
}

.infos p {
    word-wrap: break-word;

}